.first{
    width: 400px;
    height: 80px;
    position: absolute;
    background: rgb(39, 180, 20);
    top: 150px;
    left: 150px;
    z-index: 1;
    line-height: 80px;
    padding-left: 20px;
    text-align: justify;
    color: white;
    font-size: 30px;
    font-weight: bold;
    align-content: end;
    font-family: serif;
}
.second{
    width: 450px;
    height: 60px;
    position: absolute;
    background: rgb(39, 180, 20);
    top: 160px;
    left: 136px;
}
